.createNewPost {
  width: 100%;
  height: 100%;
}

.newPost {
  width: 75%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-post-header {
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;

  display: flex;
}

.new-post-title {
  width: 100%;
  height: 70px;
  border: 1px solid red;
  border-radius: 15px;
  font-size: 30px;
  outline: none;
}

.new-post-body {
  width: 100%;
  height: 600px;
  border-radius: 15px;
  margin-top: 10px;
  border: 1px solid red;
  font-size: 30px;
  outline: none;
}

.new-post-footer {
  width: 100%;
  height: 70px;
  border-radius: 15px;
  margin-top: 10px;
  border: 1px solid red;
  font-size: 30px;
  outline: none;
}
.submit-btn {
  width: 10%;
  height: 100%;
  border-radius: 10px;
}
