html,
body {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 15%;
  background-color: antiquewhite;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-section-header {
  width: 50%;
  height: 100%;
}
.right-section-header {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-btn {
  width: 10%;
  height: 10%;
}
.signup-btn {
  width: 10%;
  height: 10%;
}
.search-btn {
  width: 10%;
  height: 10%;
}
.body {
  height: 80%;
  width: 100%;

  display: flex;
  justify-content: space-around;
}
.contents {
  height: 100%;
  width: 100%;
  bottom: 1px solid red;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.post {
  height: 400px;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-header {
  height: 20%;
  width: 100%;
  word-break: break-all;
  text-align: center;
  font-size: 32px;
}
.post-body {
  height: 80%;
  width: 100%;
  text-align: center;
  word-break: break-word;
  font-size: 26px;
}
.post-footer {
  height: 20%;
  width: 100%;
  word-break: break-all;
  text-align: center;
}
.side-bar {
  height: 100%;
  width: 30%;
  font-size: 22px;

  display: flex;
  flex-direction: column;
}
